@import "tailwindcss";
@import "@heroui/styles"; 

@layer base {
  body {
    @apply bg-white text-black dark:bg-slate-950 dark:text-white;
  }
}

html.dark {
  color-scheme: dark;
}

.dark body {
  background-color: #0f172a;
  color: white;
}